body{
    background-color: var(--colo-fondo);

}
header{

    width: 100%; 
    }
.margen{
    margin: 0 20px;
}

/* Colocacion apartir del header */
.contenedor > div{
    display: flex;
}

.content {
    
    margin: 20px 0;
    background: #f0f0f0;
}
/* Colocacion imagen 1 con el texto */
.hero{
    height: 600px;
    background-image: url(../imagenes/imagenesHome/imagenHero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0 -20px;
}
/* Diseño de la información de la pagina home */
.contenedor> div:not(.hero){
    flex-direction: column;
    height: 30vw;
    background-size: 50% 100%;
    justify-content: center;
    background-repeat: no-repeat;
}
.contenedor >div:nth-child(even):not(:last-child){
    margin-right: -20px;
    background-position: right;
}
.contenedor >div:nth-child(odd):not(:first-child){
    margin-left: -20px;
    background-position: left;
    align-items: end;
}
.contenedor> div:nth-child(2){
    align-items: center;
    height: 25vw;
}
.contenedor >div:nth-child(n+2):not(:last-child) >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8vw;
}
.contenedor >div:nth-child(n+2) p,
.contenedor >div:nth-child(n+2) h2{
    text-align: center;
}
.contenedor div:nth-child(n+2) p{
    color: crimson;
    font-weight: bold;
}
.contenedor> div:nth-child(3){
    background-image: url(../imagenes/imagenesHome/imagenPersonasSombras.jpg);
    
}
.contenedor> div:nth-child(3) div{
    width: 300px;
    margin-right: 10%;
}
.contenedor> div:nth-child(4){
    background-image: url(../imagenes/imagenesHome/imagenCampo.jpg);
    background-size: 70% 100%;
}
.contenedor> div:nth-child(4) div{
    width: 300px;
}
.contenedor> div:nth-child(5){
    background-image: url(../imagenes/imagenesHome/imagenEnCiudad.jpg);
    height: 60vw;
    background-size: 70% 100%;
}
.contenedor> div:nth-child(5) div{
    width: 300px;
}
.contenedor> div:nth-child(6){
    background-image: url(../imagenes/imagenesHome/imagenPareja.jpg);
    
}
.contenedor> div:nth-child(6) div{
    width: 300px;
    margin-left: 10%;
}

.contenedor #eleccion,
.contenedor #muestraBreve{
    margin-top: 5%;
    align-items: start;
    height: auto;
}
.contenedor #eleccion{
    align-items: center;
    flex-direction: row;
}
#eleccion p{
    margin: 0 10%;
    font-size: var(--mediano);
}
.contenedor button{
    background-color: transparent;
    border: 0;
    font-size: var(--mediano);
    padding: 20px;
    transition: 2s;
}
.contenedor a{
    font-size: var(--mediano);
    color: var(--color-terciario);
    
}
.contenedor button:hover{
    padding: 20px;
    font-size: var(--grande);
    background-color: transparent;
    color: var(--color-terciario); 
}
.contenedor #muestraBreve{
    /* padding: 0 10%; */
    flex-direction: column;
    align-items:center;
}
#muestraBreve{
    background-color: var(--color-secundario);
    /* margin-left: -20px; */
}
#muestraBreve button{
    background-color: white;
    margin: 40px 0;
}
.muestraSeleccionada{
    padding: 0 20%;
    margin-bottom: 15%;
}
.muestraSeleccionada > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.muestraSeleccionada >*:not(.muestraSeleccionada>:first-child){
    display: none;
}
.muestraSeleccionada >*{
    color: white;
}
.subir{
    width: 5%;
    position: fixed;
    right: 5%;
    bottom: 10%;
    background-color: rgba(124, 103, 110, 0.7);
}
.subir img{
    width: 100%;
}


.botonesSesion#eleccion{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.botonesSesion button{
    padding: 10px;
    background-color: var(--color-terciario);
    color: white;
    font-size: var(--grande);
}

@media screen and  (max-width:1440px){
    .muestraSeleccionada{
        padding: 0;
    }
    h2{
        font-size: var(--mediano);
    }
    p{
        width: 80%;
        font-size: calc(var(--mediano) - 40%);
    }
    
    .contenedor button:hover{
        padding: 0%;
    }
    .contenedor >div:nth-child(n+2):not(:last-child) >div{
        padding: 0;
    }
}
@media screen and  (max-width:920px){
    .contenedor >div:nth-child(n+2){
        background-size: 100%;
    }
    .contenedor >div:nth-child(even):not(:last-child),
    .contenedor >div:nth-child(odd):not(:first-child){
        margin: 0;
    }
    .contenedor >div:nth-child(n+2):not(:last-child) >div{
        padding: 0;
    }
    .muestraSeleccionada img{
        width: 80%;
    }
    .contenedor button{
        padding: 20px 10px;
        border-radius: 50px;
        transition: none;
        font-size: calc(var(--mediano) - 40%);
    }
    .contenedor button:hover{
        padding: 20px 10px;
        font-size: calc(var(--mediano) - 40%);
    }
    .contenedor div:nth-child(n+3) p,
    .contenedor div:nth-child(n+3) h2 {
        color:white
    }
    h2{
        font-size: calc(var(--mediano) - 40%);
    }

}
@media screen and  (max-width:680px){
    .hero{
        height: 400px;
    }
    .hero h2{
        font-size:0.8rem ;
    }
    .contenedor >div:nth-child(even):not(:last-child),
    .contenedor >div:nth-child(odd):not(:first-child){
        align-items: center;
    }

    .contenedor button{
        padding: 5px;
        font-size: calc(var(--mediano) - 80%);
    }
    .contenedor button:hover{
        padding: 5px;
        font-size: calc(var(--mediano) - 80%);
    }
    .contenedor >div:nth-child(n+2):not(:last-child) >div{
        padding: 0;
    }
    h2{
        font-size: calc(var(--mediano) - 80%);
    }
    .contenedor div:nth-child(n+3){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and  (max-width:520px){
    .hero h2{
        font-size: 0.5rem;
    }
    .hero{
        height: 200px;
    }
    h2{
        font-size: calc(var(--pequenio) - 20%);
    }
    p{
        font-size: calc(var(--pequenio) - 40%);
    }
    .botonesMuestra{
        display: flex;
        flex-direction: column;
    }
    #muestraBreve button{
        margin: 4% 0;
    }
    .contenedor> div:nth-child(3) div{
        margin-right: 0;
    }
    .contenedor> div:nth-child(6) div{
        margin-left: 0;
    }
}
@media screen and  (max-width:400px){

    h2{
        font-size: calc(var(--pequenio) - 40%);
    }
    p{
        font-size: calc(var(--pequenio) - 60%);
    }
    body{
        min-width: 300px;
    }
}
