

.gastos, .cuentas, .graficos{
    justify-content: space-evenly;
    padding-top: 30px;
    flex-grow: 1;
    color: white;

}
.gastos > div, .cuentas>div{
    flex-basis: 50%;
}
.gastos > div:last-child, .cuentas>div:last-child{
    border-left: 2px solid white;
}
.gasto{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-secundario);
    margin: 10px auto;
}

.gasto > p{
    flex-basis: 45%;
    font-size: small;
}
.gastos h1, .cuentas h1{
    text-align: center;
}
.gastos form{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.gastos form > div{
    display: flex;
    flex-direction: column;
}
.gastos label{
    margin: 10px 0 5px;
}
.gastos input:not([type='checkbox']), .gastos select{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.gastos option{
    background-color: var(--color-secundario) ;
}

.gastos input:focus{
    outline: none;
}


.participantes{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}
.graficos{
    align-items: stretch;
    padding-top: 60px;
    height: 100%;
}
.graficos>div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    align-items: center;
}
.barra{
    flex-grow: 1;
    border: 2px solid white;
    width: 20px;
    position: relative;
    padding: 0;
}
.graficos figure{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-secundario);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 0;
}
.graficos figure p{
    font-size: 18px;
}
.reembolso{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
    margin: 10px auto;
}
.reembolso > p{
    font-size: small;
    text-align: center;
    margin: 5px;
}
